*{
  margin:0;
  padding:0;
}
body{
  background: #feba33;
}

// 父级盒子
.main{
  position: relative;
}

// 页面比例
@ratioWidth:750;
@ratioHeight:2800;

// 子级区块比例
@w-child:470;
@h-child:316;

// 自动计算百分比
.calcPercentage(@ratioWidth,@ratioHeight,@imgWidth,@imgHeight,@offsetTop,@offsetLeft){
  position: absolute;
  top:round(percentage(@offsetTop/@ratioHeight),4);
  left:round(percentage(@offsetLeft/@ratioWidth),4);
  width:round(percentage(@imgWidth/@ratioWidth),4);
  height:round(percentage(@imgHeight/@ratioHeight),4);
}

// 实例
.area1,.area2,.area3{
  display: block;
}

.area1{
  .calcPercentage(@ratioWidth,@ratioHeight,391,193,478,183);
  background: #f00;
}

.area2{
  .calcPercentage(@ratioWidth,@ratioHeight,391,193,685,183);
  background: #ccc;
}

.area3{
  .calcPercentage(@ratioWidth,@ratioHeight,391,193,892,183);
  background: #ccff0c;
}

.area4{
  .calcPercentage(@ratioWidth,@ratioHeight,81,25,1360,198);
  background: #ff0;
}

.area5{
  .calcPercentage(@ratioWidth,@ratioHeight,79,25,1342,339);
  background: #ff0;
}